{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ current_user.username }}{% endblock %}

{% block page_content %}
<div>
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('post.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('post.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include 'post/list_posts.html' %}
</div>

<div>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'post.show_posts') }}
    </div>
</div>
{% endif %}
{% endblock %}